html {
    background-color: azure;
}

body {
    background-color: antiquewhite;
    width: 960px;
    margin: auto;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th {
    background-color: #000;
    color: #fff;
}